<!-- static-footer -->
<small id="staticFooter">
  <strong>Signatur</strong><br>
  Daimler AG<br>
  Mercedesstraße 137<br>
  70327 Stuttgart<br><br>
  Tel.: (+49) 0711 / 17-0<br>
  eMail: dialog@daimler.com<br>
  <br>
  Vertreten durch den Vorstand: <br>
  Dieter Zetsche (Vorsitzender), Wolfgang Bernhard, Renata Jungo Brüngger, Ola Källenius, Wilfried Porth, Britta Seeger, Hubertus Troska, Bodo Uebber <br>
  <br>
  Vorsitzender des Aufsichtsrates: Manfred Bischoff<br>
  <br>
  Sitz und Registergericht. <br>
  Handelsregister beim Amtsgericht Stuttgart, Nr.: HRB 19360<br>
  Umsatzsteueridentifikationsnummer: DE 81 25 26 315<br>
  <br>
  Versicherungsvermittlerregister (www.vermittlerregister.info) <br>
  <br>
  Register-Nr. D-N5VM-4IM0N-23<br>
  Erlaubnisbefreiung nach § 34d Abs. 3 GewO, Aufsichtsbehörde: IHK Stuttgart, Jägerstr. 30, www.ihk-stuttgart.de <br>
  Mitglied der Industrie- und Handelskammer Stuttgart, Jägerstr. 30, 70174 Stuttgart <br>
  Berufsbezeichnung: Versicherungsvertreter mit Erlaubnis nach § 34d Abs.3 GewO; Bundesrepublik Deutschland <br>
  Berufsrechtliche Regelungen:<br>
  - § 34d Gewerbeordnung<br>
  - §§ 59 - 68 VVG<br>
  - VersVermV<br>
  Die berufsrechtlichen Regelungen können über die vom Bundesministerium der Justiz und von der juris GmbH betriebenen Homepage www.gesetze-im-internet.de eingesehen und abgerufen werden.<br>
  <br>
  Informationen zur Online-Streitbeilegung: <br>
  Die EU-Kommission hat eine Internetplattform zur Online-Beilegung von Streitigkeiten (sog. „OS-Plattform“) geschaffen. Die OS-Plattform dient als Anlaufstelle zur außergerichtlichen Beilegung von Streitigkeiten betreffend vertragliche Verpflichtungen, die aus Online-Kaufverträgen erwachsen.<br>
</small>