<!DOCTYPE html>
<!-- PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <!-- <style> -->
    [#if false]
    <!-- [/#if] <style type="text/css"> li {text-align:-webkit-match-parent; display:list-item;} [#if false]--> [/#if]
    [#if false]<!-- [/#if] a { text-decoration:none !important; color: #fefefe !important;}  [#if false]--> [/#if]
    [#if false]
    <!-- [/#if] @media only screen and (max-width:596px){u ~ div .gmail .small-12{width:50% !important; display:inline-block!important;}} </style>[#if false]-->
    [/#if]

    <!--[if gte mso 9] ><style type="text/css">li {text-indent: -0.9em;}</style> <![endif]-->
    <!--{{{{now}}}} {{{{/now}}}}-->
    <meta name="version" content="{{{{now}}}} {{{{/now}}}}">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
</head>
<body class="body">
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center>
                <!-- Start Body -->
                <container>
                    <wrapper class="secondary">
                        <row class="collapse header header-mfy">
                            <columns small="12">
                                <img src="https://i.imgur.com/udToRcz.png" style="width: 150px">
                            </columns>
                        </row>
                        <row>
                            <img src="{{image}}" alt="{{image-alt}}" align="center" class="float-center car-img"
                                 height="420px">
                        </row>
                        <spacer size="16"></spacer>
                        {{> body}}
                        <spacer size="16"></spacer>
                        <!-- Footer Start -->
                        <spacer class="footer" size="16"></spacer>
                    </wrapper>
                    <!-- Foot End -->
                </container>
                <!-- End Body -->
            </center>
        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>
</body>
</html>

